body{
    background: #262626;
}
#cabecera{
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.mu1{
    margin-right: 100px;
    margin-left: 100px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.sub{
    margin-right: 50px;
    margin-left: 50px;
}
.sub2{
    margin-right: 50px;
    margin-left: 50px;
}
.sub3{
    margin-right: 50px;
    margin-left: 50px;
}
.sub4{
    margin-right: 50px;
    margin-left: 50px;
}

/*h1{
    position: relative;
    font-size: 6em;
    text-align: center;
    -webkit-box-reflect: below -42px linear-gradient(transparent, #0004);
}*/
.mu1 p{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;   
}
.mu1 .sub img{
    height: 200px;
    width: 340px;
}
.mu1 .sub2 img{
    height: 250px;
    width: 500px;
}
.mu1 .sub3 img{
    height: 60px;
    width: 200px;
}
.mu1 .sub4 img{
    height: 50px;
    width: 340px;
}